*.lock
*.bin
back/.gradle/buildOutputCleanup/outputFiles.bin
back/.gradle/7.4.1/checksums/checksums.lock
*.lock
back/.gradle/7.4.1/dependencies-accessors/dependencies-accessors.lock
back/.gradle/7.4.1/executionHistory/executionHistory.lock
back/.gradle/7.4.1/fileHashes/fileHashes.lock
back/.gradle/buildOutputCleanup/buildOutputCleanup.lock